<div class="container">
     <h2 class="form-signin-heading">Salasanan palautus</h2>
     <p>Salasana vaihdettu onnistuneesti.</p>
     <p><a href="/roster">Kirjaudu sisään</a></p>
</div> <!-- /container -->
