
   <div class="container">

      <form class="form-signin" role="form" action="[% request.uri_base %]/login/resetpassword" method="post">
        <h2 class="form-signin-heading">Salasanan palautus</h2>
        <p>Salasanan vaihto-ohjeet on nyt lähetetty ilmoittamaasi sähköpostiosoitteeseen.</p>
      </form>

    </div> <!-- /container -->
