Pyysitkö TPV:n futisklubijärjestelmän liitetyn käyttäjätunnuksen salasanan palautusta?<br/>

Jos pyysit salasanan palautusta, siirry seuraavaan osoitteeseen:<br/>
[% request.uri_base %]/login/resetpasswordfor/id=[% data.user.id %]&digest=[% data.md5.digest %]&time=[% data.md5.timestamp %]<br/>

Jos et ole lähettänyt palautuspyyntöä, niin älä tee mitään. Palautuspyyntö vanhenee automaattisesti.<br/>

Terveisin,<br/>
Futisklubijärjestelmän ylläpitotiimi
